body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container {
    background-color: darkgrey;
}
.banner-column{
    background-color: rgb(98, 97, 97);
}
.navbar-container{
    background-color: #7952B3;
    font-size: large;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-items{
    margin-left: 40%;
}
.home-container{
    background-color:darkcyan;
}
.education-container{
    background-color: rgb(213, 204, 204);
}

.circle{
    background-color: rgb(231, 123, 123);
    color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
}
.card-text{
    padding: 15px;
}
.project-container{
    background-color: dodgerblue;
}
.photos:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.person{
    text-align: left;
}
.person a{
    color: white;
    text-decoration: none;
}
.person a:hover{
    color: red;
}
.form-container{
    background-color: rgb(38, 38, 62);
}
.inner-form{
    background-color: #585f73;
}
.footer{
    background-color:rgb(41, 120, 199);
}
.contact-button{
    background-color: rgb(87, 237, 87);
}
.social-icons{
    text-decoration: none;
    font-size: 25px;
}
 .social-icons a:hover{
    opacity: 0.9;
}